[maxscale]
threads=auto
log_warning=1
# log_info cause performance degradation !!!
#log_info=1
#log_notice=1

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2
user=maxuser
password=maxpwd
replication_user=repl
replication_password=replpwd
#
auto_failover=True
auto_rejoin=True
#enforce_read_only_slaves=True

[Splitter-Service]
type=service
router=readwritesplit
version_string={{ version_string }}
servers=server1,server2
user=maxuser
password=maxpwd
#filters=Masking
# 2.3 and later
master_failure_mode=error_on_write
master_reconnection=True
transaction_replay=True
causal_reads=True

[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=mariadbclient
port=3306

#[Masking]
#type=filter
#module=masking
#rules=/etc/maxscale.modules.d/masking_rules.json
#warn_type_mismatch=always
#large_payload=ignore
#-----------------------
[server1]
type=server
address=192.168.2.101
port=3306
protocol=mariadbbackend

[server2]
type=server
address=192.168.2.102
port=3306
protocol=mariadbbackend

#[server3]
#type=server
#address=192.168.2.103
#port=3306
#protocol=mariadbbackend
