[maxscale]
threads=auto
log_warning=1
log_info=1
log_notice=1
log_debug=1

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2,server3
user=maxuser
password=maxpwd
auto_failover=true
auto_rejoin=true
#enforce_read_only_slaves=true

[Masking]
type=filter
module=masking
rules=/etc/maxscale.modules.d/masking_rules.json
warn_type_mismatch=always
large_payload=ignore

[Splitter-Service]
type=service
router=readwritesplit
servers=server1,server2,server3
user=maxuser
password=maxpwd
max_slave_connections=100%
slave_selection_criteria=LEAST_CURRENT_OPERATIONS
filters=Masking

[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=mariadbclient
port=3306
#-----------------------
[server1]
type=server
address=192.168.2.101
port=3306
protocol=mariadbbackend

[server2]
type=server
address=192.168.2.102
port=3306
protocol=mariadbbackend

[server3]
type=server
address=192.168.2.103
port=3306
protocol=mariadbbackend
