[maxscale]
threads=4

[MariaDB-Monitor]
type=monitor
#      !!!!!!!
module=mariadbmon
servers = node1,node2,node3
user=maxuser
passwd=maxpwd
monitor_interval=1000
detect_standalone_master=true
failcount=1
allow_cluster_recovery=true

# since 2.2.1 beta
auto_failover=true
auto_rejoin=true

#failover=true
#failover_recovery=true

replication_user=repl
replication_password=replpwd
backend_connect_timeout=1

[Read Connection Router]
type=service
router=readconnroute
servers = node1,node2,node3
user=maxadmin
passwd=maxpwd
router_options=slave

[Splitter Service]
type=service
router=readwritesplit
servers = node1,node2,node3
user=maxadmin
passwd=maxpwd
max_slave_connections=100%
router_options=slave_selection_criteria=LEAST_CURRENT_OPERATIONS

[Debug Interface]
type=service
router=debugcli

[Read Connection Listener]
type=listener
service=Read Connection Router
protocol=MariaDBClient
port=4008

[Splitter Listener]
type=listener
service=Splitter Service
protocol=MariaDBClient
port=4006

[Debug Listener]
type=listener
service=Debug Interface
protocol=telnetd
port=4442

[MaxAdmin]
type=service
router=cli

[MaxAdmin Unix Listener]
type=listener
service=MaxAdmin
protocol=maxscaled
socket=default

[MaxAdmin Inet Listener]
type=listener
service=MaxAdmin
protocol=maxscaled
address=localhost
port=6603
###############################################################################
[node1]
type=server
address=192.168.100.11
port=3306
protocol=MariaDBBackend

[node2]
type=server
address=192.168.100.12
port=3306
protocol=MariaDBBackend

[node3]
type=server
address=192.168.100.13
port=3306
protocol=MariaDBBackend
