[maxscale]
threads=auto
log_warning=1
log_info=1
log_notice=1
#log_debug=1

[Masking]
type=filter
module=masking
rules=/etc/maxscale.modules.d/masking_rules.json
warn_type_mismatch=always
large_payload=ignore

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2,server3
user=maxuser
password=maxpwd
auto_failover=true
auto_rejoin=true
#enforce_read_only_slaves=true

[Splitter-Service]
type=service
router=readwritesplit
servers=server1,server2,server3
user=maxuser
password=maxpwd
#filters=Masking
# 2.3
master_failure_mode=error_on_write
master_reconnection=true
transaction_replay=true

[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=mariadbclient
port=3306
#-----------------------
[server1]
type=server
address=192.168.2.101
port=3306
protocol=mariadbbackend

[server2]
type=server
address=192.168.2.102
port=3306
protocol=mariadbbackend

[server3]
type=server
address=192.168.2.103
port=3306
protocol=mariadbbackend
